<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highwebsite.mapper.DoaTUserMapper" >
  <resultMap id="BaseResultMap" type="com.highwebsite.pojo.DoaTUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="regist_id" property="registId" jdbcType="VARCHAR" />
    <result column="regist_passwd" property="registPasswd" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="PSAPK" property="psapk" jdbcType="VARCHAR" />
    <result column="register_drc_date" property="registerDrcDate" jdbcType="TIMESTAMP" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="politic" property="politic" jdbcType="VARCHAR" />
    <result column="null3" property="null3" jdbcType="VARCHAR" />
    <result column="null4" property="null4" jdbcType="VARCHAR" />
    <result column="null5" property="null5" jdbcType="VARCHAR" />
    <result column="null6" property="null6" jdbcType="VARCHAR" />
    <result column="null7" property="null7" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, regist_id, regist_passwd, name, birth, gender, phone, address, email, PSAPK, 
    register_drc_date, post, politic, null3, null4, null5, null6, null7
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.highwebsite.pojo.DoaTUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DOA_T_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DOA_T_USER
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DOA_T_USER
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.highwebsite.pojo.DoaTUserExample" >
    delete from DOA_T_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.highwebsite.pojo.DoaTUser" >
    insert into DOA_T_USER (user_id, regist_id, regist_passwd, 
      name, birth, gender, 
      phone, address, email, 
      PSAPK, register_drc_date, post, 
      politic, null3, null4, 
      null5, null6, null7
      )
    values (#{userId,jdbcType=VARCHAR}, #{registId,jdbcType=VARCHAR}, #{registPasswd,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{gender,jdbcType=BIT}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{psapk,jdbcType=VARCHAR}, #{registerDrcDate,jdbcType=TIMESTAMP}, #{post,jdbcType=VARCHAR}, 
      #{politic,jdbcType=VARCHAR}, #{null3,jdbcType=VARCHAR}, #{null4,jdbcType=VARCHAR}, 
      #{null5,jdbcType=VARCHAR}, #{null6,jdbcType=VARCHAR}, #{null7,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.highwebsite.pojo.DoaTUser" >
    insert into DOA_T_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="registId != null" >
        regist_id,
      </if>
      <if test="registPasswd != null" >
        regist_passwd,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="psapk != null" >
        PSAPK,
      </if>
      <if test="registerDrcDate != null" >
        register_drc_date,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="politic != null" >
        politic,
      </if>
      <if test="null3 != null" >
        null3,
      </if>
      <if test="null4 != null" >
        null4,
      </if>
      <if test="null5 != null" >
        null5,
      </if>
      <if test="null6 != null" >
        null6,
      </if>
      <if test="null7 != null" >
        null7,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="registId != null" >
        #{registId,jdbcType=VARCHAR},
      </if>
      <if test="registPasswd != null" >
        #{registPasswd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="psapk != null" >
        #{psapk,jdbcType=VARCHAR},
      </if>
      <if test="registerDrcDate != null" >
        #{registerDrcDate,jdbcType=TIMESTAMP},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="politic != null" >
        #{politic,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        #{null5,jdbcType=VARCHAR},
      </if>
      <if test="null6 != null" >
        #{null6,jdbcType=VARCHAR},
      </if>
      <if test="null7 != null" >
        #{null7,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.highwebsite.pojo.DoaTUserExample" resultType="java.lang.Integer" >
    select count(*) from DOA_T_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DOA_T_USER
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.registId != null" >
        regist_id = #{record.registId,jdbcType=VARCHAR},
      </if>
      <if test="record.registPasswd != null" >
        regist_passwd = #{record.registPasswd,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=BIT},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.psapk != null" >
        PSAPK = #{record.psapk,jdbcType=VARCHAR},
      </if>
      <if test="record.registerDrcDate != null" >
        register_drc_date = #{record.registerDrcDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.politic != null" >
        politic = #{record.politic,jdbcType=VARCHAR},
      </if>
      <if test="record.null3 != null" >
        null3 = #{record.null3,jdbcType=VARCHAR},
      </if>
      <if test="record.null4 != null" >
        null4 = #{record.null4,jdbcType=VARCHAR},
      </if>
      <if test="record.null5 != null" >
        null5 = #{record.null5,jdbcType=VARCHAR},
      </if>
      <if test="record.null6 != null" >
        null6 = #{record.null6,jdbcType=VARCHAR},
      </if>
      <if test="record.null7 != null" >
        null7 = #{record.null7,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DOA_T_USER
    set user_id = #{record.userId,jdbcType=VARCHAR},
      regist_id = #{record.registId,jdbcType=VARCHAR},
      regist_passwd = #{record.registPasswd,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      birth = #{record.birth,jdbcType=TIMESTAMP},
      gender = #{record.gender,jdbcType=BIT},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      PSAPK = #{record.psapk,jdbcType=VARCHAR},
      register_drc_date = #{record.registerDrcDate,jdbcType=TIMESTAMP},
      post = #{record.post,jdbcType=VARCHAR},
      politic = #{record.politic,jdbcType=VARCHAR},
      null3 = #{record.null3,jdbcType=VARCHAR},
      null4 = #{record.null4,jdbcType=VARCHAR},
      null5 = #{record.null5,jdbcType=VARCHAR},
      null6 = #{record.null6,jdbcType=VARCHAR},
      null7 = #{record.null7,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.highwebsite.pojo.DoaTUser" >
    update DOA_T_USER
    <set >
      <if test="registId != null" >
        regist_id = #{registId,jdbcType=VARCHAR},
      </if>
      <if test="registPasswd != null" >
        regist_passwd = #{registPasswd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="psapk != null" >
        PSAPK = #{psapk,jdbcType=VARCHAR},
      </if>
      <if test="registerDrcDate != null" >
        register_drc_date = #{registerDrcDate,jdbcType=TIMESTAMP},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="politic != null" >
        politic = #{politic,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        null3 = #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        null4 = #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        null5 = #{null5,jdbcType=VARCHAR},
      </if>
      <if test="null6 != null" >
        null6 = #{null6,jdbcType=VARCHAR},
      </if>
      <if test="null7 != null" >
        null7 = #{null7,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highwebsite.pojo.DoaTUser" >
    update DOA_T_USER
    set regist_id = #{registId,jdbcType=VARCHAR},
      regist_passwd = #{registPasswd,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=TIMESTAMP},
      gender = #{gender,jdbcType=BIT},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      PSAPK = #{psapk,jdbcType=VARCHAR},
      register_drc_date = #{registerDrcDate,jdbcType=TIMESTAMP},
      post = #{post,jdbcType=VARCHAR},
      politic = #{politic,jdbcType=VARCHAR},
      null3 = #{null3,jdbcType=VARCHAR},
      null4 = #{null4,jdbcType=VARCHAR},
      null5 = #{null5,jdbcType=VARCHAR},
      null6 = #{null6,jdbcType=VARCHAR},
      null7 = #{null7,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  
  <select id="findDoaTUserByDoaTUser" parameterType="com.highwebsite.pojo.DoaTUser" resultType="com.highwebsite.pojo.DoaTUser">
		select * from DOA_T_USER where phone=#{phone} and regist_passwd=#{registPasswd}
	</select>
  
</mapper>