<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highwebsite.mapper.registerUserMapper" >

	
  
  <select id="selectByphone" parameterType="com.highwebsite.pojo.registerUser" resultType="com.highwebsite.pojo.registerUser">
		select * from DOA_T_USER where phone=#{phone}
  </select>
  
</mapper>