<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highwebsite.mapper.TAdMapper" >
  <resultMap id="BaseResultMap" type="com.highwebsite.pojo.TAd" >
    <id column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="poster_address" property="posterAddress" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="md5" property="md5" jdbcType="CHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="data_date" property="dataDate" jdbcType="TIMESTAMP" />
    <result column="display" property="display" jdbcType="VARCHAR" />
    <result column="null2" property="null2" jdbcType="VARCHAR" />
    <result column="null3" property="null3" jdbcType="VARCHAR" />
    <result column="null4" property="null4" jdbcType="VARCHAR" />
    <result column="null5" property="null5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    company_id, poster_address, start_time, deadline, md5, start_date, end_date, data_date, 
    display, null2, null3, null4, null5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.highwebsite.pojo.TAdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_AD
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_AD
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.highwebsite.pojo.TAdExample" >
    delete from T_AD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.highwebsite.pojo.TAd" >
    insert into T_AD (company_id, poster_address, start_time, 
      deadline, md5, start_date, 
      end_date, data_date, display, 
      null2, null3, null4, 
      null5)
    values (#{companyId,jdbcType=VARCHAR}, #{posterAddress,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{deadline,jdbcType=TIMESTAMP}, #{md5,jdbcType=CHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{dataDate,jdbcType=TIMESTAMP}, #{display,jdbcType=VARCHAR}, 
      #{null2,jdbcType=VARCHAR}, #{null3,jdbcType=VARCHAR}, #{null4,jdbcType=VARCHAR}, 
      #{null5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.highwebsite.pojo.TAd" >
    insert into T_AD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="posterAddress != null" >
        poster_address,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="dataDate != null" >
        data_date,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="null2 != null" >
        null2,
      </if>
      <if test="null3 != null" >
        null3,
      </if>
      <if test="null4 != null" >
        null4,
      </if>
      <if test="null5 != null" >
        null5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="posterAddress != null" >
        #{posterAddress,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataDate != null" >
        #{dataDate,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        #{display,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        #{null5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.highwebsite.pojo.TAdExample" resultType="java.lang.Integer" >
    select count(*) from T_AD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AD
    <set >
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.posterAddress != null" >
        poster_address = #{record.posterAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=CHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataDate != null" >
        data_date = #{record.dataDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.display != null" >
        display = #{record.display,jdbcType=VARCHAR},
      </if>
      <if test="record.null2 != null" >
        null2 = #{record.null2,jdbcType=VARCHAR},
      </if>
      <if test="record.null3 != null" >
        null3 = #{record.null3,jdbcType=VARCHAR},
      </if>
      <if test="record.null4 != null" >
        null4 = #{record.null4,jdbcType=VARCHAR},
      </if>
      <if test="record.null5 != null" >
        null5 = #{record.null5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AD
    set company_id = #{record.companyId,jdbcType=VARCHAR},
      poster_address = #{record.posterAddress,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      md5 = #{record.md5,jdbcType=CHAR},
      start_date = #{record.startDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      data_date = #{record.dataDate,jdbcType=TIMESTAMP},
      display = #{record.display,jdbcType=VARCHAR},
      null2 = #{record.null2,jdbcType=VARCHAR},
      null3 = #{record.null3,jdbcType=VARCHAR},
      null4 = #{record.null4,jdbcType=VARCHAR},
      null5 = #{record.null5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.highwebsite.pojo.TAd" >
    update T_AD
    <set >
      <if test="posterAddress != null" >
        poster_address = #{posterAddress,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataDate != null" >
        data_date = #{dataDate,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        null2 = #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        null3 = #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        null4 = #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        null5 = #{null5,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highwebsite.pojo.TAd" >
    update T_AD
    set poster_address = #{posterAddress,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      md5 = #{md5,jdbcType=CHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      data_date = #{dataDate,jdbcType=TIMESTAMP},
      display = #{display,jdbcType=VARCHAR},
      null2 = #{null2,jdbcType=VARCHAR},
      null3 = #{null3,jdbcType=VARCHAR},
      null4 = #{null4,jdbcType=VARCHAR},
      null5 = #{null5,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
</mapper>