<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highwebsite.mapper.TCandIn2Mapper" >
  <resultMap id="BaseResultMap" type="com.highwebsite.pojo.TCandIn2" >
    <id column="USER_ID" property="userId" jdbcType="CHAR" />
    <result column="chinese_name" property="chineseName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="CHAR" />
    <result column="null1" property="null1" jdbcType="VARCHAR" />
    <result column="null2" property="null2" jdbcType="VARCHAR" />
    <result column="null3" property="null3" jdbcType="VARCHAR" />
    <result column="null4" property="null4" jdbcType="VARCHAR" />
    <result column="null5" property="null5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, chinese_name, english_name, gender, birthday, phone, email, address, photo, 
    md5, null1, null2, null3, null4, null5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.highwebsite.pojo.TCandIn2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CAND_IN_2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_CAND_IN_2
    where USER_ID = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_CAND_IN_2
    where USER_ID = #{userId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.highwebsite.pojo.TCandIn2Example" >
    delete from T_CAND_IN_2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.highwebsite.pojo.TCandIn2" >
    insert into T_CAND_IN_2 (USER_ID, chinese_name, english_name, 
      gender, birthday, phone, 
      email, address, photo, 
      md5, null1, null2, null3, 
      null4, null5)
    values (#{userId,jdbcType=CHAR}, #{chineseName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{birthday,jdbcType=TIMESTAMP}, #{phone,jdbcType=CHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{md5,jdbcType=CHAR}, #{null1,jdbcType=VARCHAR}, #{null2,jdbcType=VARCHAR}, #{null3,jdbcType=VARCHAR}, 
      #{null4,jdbcType=VARCHAR}, #{null5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.highwebsite.pojo.TCandIn2" >
    insert into T_CAND_IN_2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="chineseName != null" >
        chinese_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="null1 != null" >
        null1,
      </if>
      <if test="null2 != null" >
        null2,
      </if>
      <if test="null3 != null" >
        null3,
      </if>
      <if test="null4 != null" >
        null4,
      </if>
      <if test="null5 != null" >
        null5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=CHAR},
      </if>
      <if test="null1 != null" >
        #{null1,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        #{null5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.highwebsite.pojo.TCandIn2Example" resultType="java.lang.Integer" >
    select count(*) from T_CAND_IN_2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_CAND_IN_2
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.chineseName != null" >
        chinese_name = #{record.chineseName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=CHAR},
      </if>
      <if test="record.null1 != null" >
        null1 = #{record.null1,jdbcType=VARCHAR},
      </if>
      <if test="record.null2 != null" >
        null2 = #{record.null2,jdbcType=VARCHAR},
      </if>
      <if test="record.null3 != null" >
        null3 = #{record.null3,jdbcType=VARCHAR},
      </if>
      <if test="record.null4 != null" >
        null4 = #{record.null4,jdbcType=VARCHAR},
      </if>
      <if test="record.null5 != null" >
        null5 = #{record.null5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_CAND_IN_2
    set USER_ID = #{record.userId,jdbcType=CHAR},
      chinese_name = #{record.chineseName,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=CHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      phone = #{record.phone,jdbcType=CHAR},
      email = #{record.email,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      md5 = #{record.md5,jdbcType=CHAR},
      null1 = #{record.null1,jdbcType=VARCHAR},
      null2 = #{record.null2,jdbcType=VARCHAR},
      null3 = #{record.null3,jdbcType=VARCHAR},
      null4 = #{record.null4,jdbcType=VARCHAR},
      null5 = #{record.null5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.highwebsite.pojo.TCandIn2" >
    update T_CAND_IN_2
    <set >
      <if test="chineseName != null" >
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=CHAR},
      </if>
      <if test="null1 != null" >
        null1 = #{null1,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        null2 = #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        null3 = #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        null4 = #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        null5 = #{null5,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highwebsite.pojo.TCandIn2" >
    update T_CAND_IN_2
    set chinese_name = #{chineseName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=CHAR},
      null1 = #{null1,jdbcType=VARCHAR},
      null2 = #{null2,jdbcType=VARCHAR},
      null3 = #{null3,jdbcType=VARCHAR},
      null4 = #{null4,jdbcType=VARCHAR},
      null5 = #{null5,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=CHAR}
  </update>
</mapper>