<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highwebsite.mapper.TCandIn3Mapper" >
  <resultMap id="BaseResultMap" type="com.highwebsite.pojo.TCandIn3" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_profile" property="projectProfile" jdbcType="VARCHAR" />
    <result column="display" property="display" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="CHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="null1" property="null1" jdbcType="VARCHAR" />
    <result column="null2" property="null2" jdbcType="VARCHAR" />
    <result column="null3" property="null3" jdbcType="VARCHAR" />
    <result column="null4" property="null4" jdbcType="VARCHAR" />
    <result column="null5" property="null5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, USER_ID, project_name, project_profile, display, md5, start_time, end_time, null1, 
    null2, null3, null4, null5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.highwebsite.pojo.TCandIn3Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CAND_IN_3
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_CAND_IN_3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_CAND_IN_3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.highwebsite.pojo.TCandIn3Example" >
    delete from T_CAND_IN_3
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.highwebsite.pojo.TCandIn3" >
    insert into T_CAND_IN_3 (id, USER_ID, project_name, 
      project_profile, display, md5, 
      start_time, end_time, null1, 
      null2, null3, null4, 
      null5)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectProfile,jdbcType=VARCHAR}, #{display,jdbcType=VARCHAR}, #{md5,jdbcType=CHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{null1,jdbcType=VARCHAR}, 
      #{null2,jdbcType=VARCHAR}, #{null3,jdbcType=VARCHAR}, #{null4,jdbcType=VARCHAR}, 
      #{null5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.highwebsite.pojo.TCandIn3" >
    insert into T_CAND_IN_3
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectProfile != null" >
        project_profile,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="null1 != null" >
        null1,
      </if>
      <if test="null2 != null" >
        null2,
      </if>
      <if test="null3 != null" >
        null3,
      </if>
      <if test="null4 != null" >
        null4,
      </if>
      <if test="null5 != null" >
        null5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectProfile != null" >
        #{projectProfile,jdbcType=VARCHAR},
      </if>
      <if test="display != null" >
        #{display,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=CHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="null1 != null" >
        #{null1,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        #{null5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.highwebsite.pojo.TCandIn3Example" resultType="java.lang.Integer" >
    select count(*) from T_CAND_IN_3
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_CAND_IN_3
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectProfile != null" >
        project_profile = #{record.projectProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.display != null" >
        display = #{record.display,jdbcType=VARCHAR},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=CHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.null1 != null" >
        null1 = #{record.null1,jdbcType=VARCHAR},
      </if>
      <if test="record.null2 != null" >
        null2 = #{record.null2,jdbcType=VARCHAR},
      </if>
      <if test="record.null3 != null" >
        null3 = #{record.null3,jdbcType=VARCHAR},
      </if>
      <if test="record.null4 != null" >
        null4 = #{record.null4,jdbcType=VARCHAR},
      </if>
      <if test="record.null5 != null" >
        null5 = #{record.null5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_CAND_IN_3
    set id = #{record.id,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      project_profile = #{record.projectProfile,jdbcType=VARCHAR},
      display = #{record.display,jdbcType=VARCHAR},
      md5 = #{record.md5,jdbcType=CHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      null1 = #{record.null1,jdbcType=VARCHAR},
      null2 = #{record.null2,jdbcType=VARCHAR},
      null3 = #{record.null3,jdbcType=VARCHAR},
      null4 = #{record.null4,jdbcType=VARCHAR},
      null5 = #{record.null5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.highwebsite.pojo.TCandIn3" >
    update T_CAND_IN_3
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectProfile != null" >
        project_profile = #{projectProfile,jdbcType=VARCHAR},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=CHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="null1 != null" >
        null1 = #{null1,jdbcType=VARCHAR},
      </if>
      <if test="null2 != null" >
        null2 = #{null2,jdbcType=VARCHAR},
      </if>
      <if test="null3 != null" >
        null3 = #{null3,jdbcType=VARCHAR},
      </if>
      <if test="null4 != null" >
        null4 = #{null4,jdbcType=VARCHAR},
      </if>
      <if test="null5 != null" >
        null5 = #{null5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.highwebsite.pojo.TCandIn3" >
    update T_CAND_IN_3
    set USER_ID = #{userId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_profile = #{projectProfile,jdbcType=VARCHAR},
      display = #{display,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=CHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      null1 = #{null1,jdbcType=VARCHAR},
      null2 = #{null2,jdbcType=VARCHAR},
      null3 = #{null3,jdbcType=VARCHAR},
      null4 = #{null4,jdbcType=VARCHAR},
      null5 = #{null5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>